.internal-cotainer {
  display: flex;
  justify-content: space-between;
}
.childDiv {
  flex-grow: 1;
  position: relative;
}
.internal-cotainer #B{
  /* display: flex;
  flex-direction: column; */
}
