.logologin {
position: relative;
}

.logologins {
width: 108px;
height: 57px;
top: 61px;
left: 89px;

}

.dotts {
position: absolute;
width: 59px;
eight: 55px;
op: 130px;
eft: 300px;
adding: 0px 4px 0px 0px;

}