#dataprofile {
  display: flex;
  gap: 60px;
}
.info h2 {
  color: #ff9eaa;
  background-color: #3aa6b9;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 15px 6px #afb1b3;
}
.info p {
  color: #fd8391;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
